$font-size: 50px;

.example {
    font-size: $font-size;
}

body {
    height: 100%;
    width: 100%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }