{{ define "helpers" -}}
.hidden {
  display: none;
}

.container {
  width: 60vw;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.fill {
  display: flex;
  justify-content: space-around;
}

a.nolink,
a.nolink:hover,
a.nolink:active,
a.nolink:visited {
  text-decoration: none;
}
{{- end }}