{{ define "main" -}}
<div class="vertical spaced">
  <span>Almost nothing to see here.</span>

  <div class="buttons">
    <button class="big icon">
      <i class="github icon"></i>
    </button>

    <button class="large inverted icon">
      <i class="xing icon"></i>
    </button>

    <button class="icon">
      <i class="linkedin icon"></i>
    </button>
  </div>
</div>
{{- end }}