{{ define "navigation" -}}
<div class="navigation">
  <div class="container">
    <a href="./index.html" class="grouped nolink navigation element" >enforge.de</a>
    <a href="./tillhoff/index.html" class="grouped nolink navigation element" >Till Hoffmann</a>
  </div>
</div>
{{- end }}