<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {{ block "title" . }}{{ .Site.Title }}{{ end }}
    </title>

    <!-- CSS -->
    {{ $style := resources.Get "sass/semantic-ui.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.2/dist/semantic.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/brands.min.js"></script>
    {{ $mainjs := resources.Get "js/main.js" }}
    {{ $securemainjs := $mainjs | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $securemainjs.Permalink }}" integrity="{{ $securemainjs.Data.Integrity }}"></script>

  </head>
  <body>

    <div>
      <div class=" ui top fixed inverted menu">
        <div class="ui container">
          <a class="item" href="/">
            enforge.de
          </a>
          <a class="item" href="/till.hoffmann">
            Till Hoffmann
          </a>
        </div>
      </div >
  
      {{ block "main" . }}
      {{ end }}
    </div >

  </body>
</html>