<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>enforge.de</title>

    <!-- style -->
    <!-- <link rel="stylesheet" href="/main.css"> -->
    <style>
      {{ template "critical.css" . }}
    </style>

    <!-- javascript -->
    <script type="text/javascript" src="/main.js"></script>
  </head>
  <body>

    {{ template "svgs.html" . }}

    {{ template "navigation.html" . }}

    <div class="center page">
      {{ template "tillhoff.html" . }}
    </div>

  </body>
</html>